<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css" />
  	<link rel="stylesheet" href="css/fontawesome-all.css" />
  	<link rel="shortcut icon" type="image/x-icon" href="webfonts/user.svg" />
    <title> SGA</title>
  </head>

  <body class="bg-light">

		<nav class="navbar navbar-expand-lg navbar-dark bg-gradient-primary shadow-sm">
      		<div class="container">
  			<a class="navbar-brand mb-0 h1" href="#"><i class="fas fa-user fa-lg"></i> SGA</a>
  		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  			<span class="navbar-toggler-icon"></span>
  		    </button>

  			<div class="collapse navbar-collapse" id="navbarSupportedContent">
  				<ul class="navbar-nav ml-auto">
  				<li class="nav-item active">
  					<a class="nav-link" href="/"><i class="fas fa-home"></i> Inicio <span class="sr-only">(current)</span></a>
  				</li>

  				<li class="nav-item dropdown">
  					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  						<i class="fas fa-edit"></i> Cadastro
  					</a>
  					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
  					   <a class="dropdown-item" href="/classe">Classe</a>
  					   <a class="dropdown-item" href="/disciplina">Disciplina</a>
  					   <a class="dropdown-item" href="/turma">Turma</a>
  					   <div class="dropdown-divider"></div>
  					   <a class="dropdown-item" href="/secretaria">Secretaria</a>
  					   <a class="dropdown-item" href="/professor">Professor</a>
  					</div>
  				</li>

  				<li class="nav-item dropdown">
  					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  						<i class="fas fa-users"></i> Pedagogia
  					</a>
  					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
  					   <a class="dropdown-item" href="#">Matricula</a>
  					   <a class="dropdown-item" href="#">Pauta</a>
  					   <div class="dropdown-divider"></div>
  					   <a class="dropdown-item" href="#">Presencas</a>
  					</div>
  				</li>

  				<li class="nav-item">
  					<a class="nav-link" href="#"><i class="fas fa-chart-bar"></i> Relatorio <span class="sr-only">(current)</span></a>
  				</li>
                                
                                 <li class="nav-item dropdown">
  					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  						<i class="fas fa-edit"></i> Tabelas
  					</a>
  					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
  					   <a class="dropdown-item" href="/classe">Serie de SDocumentos</a>
  					   <a class="dropdown-item" href="/textos">Textos(Serviço)</a>
  					    					</div>
  				</li>
  				<li class="nav-item">
  					<a class="nav-link" href="/sobre"><i class="fas fa-user-circle"></i> Sobre <span class="sr-only">(current)</span></a>
  				</li>

  				</ul>
  			</div>
      </div>
		</nav>

	<nav aria-label="breadcrumb">
			<ol class="breadcrumb justify-content-center mb-1">
                <li class="breadcrumb-item active" aria-current="page">Inicio</li>
			</ol>
	</nav>

	<div class="container row ml-auto mr-auto">
	
	    <div class="container bg-light p-2 my-4">
	        <h1 class="display-3 text-center" style="text-shadow: 1px 1px 1px black;">
	            Sistema de Gestão Académica
	        </h1>
	        
	        <div class="row justify-content-center my-5">
	            <div class="col-8 p-3  bg-primary border rounded">
	                <p class="text-light text-center h5">Faca a gestão da sua secretaria a partir de qualquer dispositivo com acesso à Internet ...</p>
	            </div>
	        </div>
	        
	    </div>
	   
		<section class="container col-sm-12 p-2">
            <div class="justify-content-center border shadow-sm p-1">
                <h1 class="text-center bg-dark text-light p-2 m-0">
	                Funcionalidades:
	            </h1>
	            <div class="container border p-4 text-justify">
                <div class="col-sm-10 m-auto">
	                <h3 class="text-success"><i class="fas fa-home"></i> Modulo de Cadastro:</h3>
	                <p>Permite o registo de diversos dados que correspondem ao cenário vivido na escola que o implantar. Os dados fornecidos ao sistema por meio deste módulo permitirão a execução plena das actividades/ funcionalidades dos restantes módulos. Adicione Classes, Turmas, Disciplinas, Professores e os Funcionarios da Secretaria.</p>
	                <br>
	                
	                <h3 class="text-success"><i class="fas fa-users"></i> Modulo Pedagogico:</h3>
	                <p>Permite o acompanhamento do processo estudantil ou académico dos estudantes por parte dos agentes da secretaria e pelos respectivos professores. As funcionalidades dispostas neste módulo compreendem:</p>
	                <ul>
	                    <li>Matrícula de Estudantes;</li>
                        <li>Registo de resultados/ aproveitamentos anuais;</li>
                        <li>Registo de presenças/ horários entre outros aspectos;</li>

	                </ul>
	                <br>
	                
	                <h3 class="text-success"><i class="fas fa-chart-bar"></i> Modulo de Relatorio:</h3>
	                <p>Este módulo permite a geração de relatórios dos diversos dados produzidos pelos utilizadores do sistema. Eles estarão disponíveis de acordo com o nível de permissões de cada utilizador.</p>	                
	            </div>
	            </div>
	        </div>   		
		</section>

	</div>

	<footer class="fixed bg-dark mt-5 mb-0">
		<div class="container row m-auto p-4">
			<div class="col-sm-12 col-lg-7 mr-auto">
				<h5 class="text-light"><i class="fas fa-people-carry"></i> Desenvolvedores</h5>
				<p class="text-light border rounded p-4" align="justify">Somos um grupo de Estudantes que pretende criar ferramentas que auxiliem e melhorem a forma como as instituicoes oferecem os seus servicos.</p>
            </div>

			<div class="col-sm-12 col-lg-5 ml-auto">
				<h5 class="text-light"><i class="fas fa-address-book"></i> Contactos</h5>

				<ul class="list-group " style="width: 18rem;">
                    <li class="list-group-item"><i class="fas fa-envelope"></i> blandinomucumbe@gmail.com</li>
                    <li class="list-group-item"><i class="fas fa-envelope"></i> edenmassalonga@outlook.com</li>
                    <li class="list-group-item"><i class="fas fa-envelope"></i> ediongungulo@gmail.com</li>
                    <li class="list-group-item"><i class="fas fa-envelope"></i> f2massimbe@gmail.com</li>
                </ul>

			</div>

		</div>

		<div class="container-fluid row bg-gradient-secondary justify-content-center m-auto p-2 ">
			<p class="text-light mb-0">&copy; Direitos Reservados</p>
		</div>

	</footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.js"></script>
  </body>
</html>
